.dragable-resizable-item {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 1px;
  bottom: 1px;
  left: 0;
  box-sizing: border-box;
  border-radius: 4px;
  > span {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: smaller;
    color: white;
    width: 100%;
    text-align: start;
    white-space: nowrap;
  }
  > .resize-cursor {
    position: absolute;
    width: 10px;
    right: -4px;
    height: 100%;
    cursor: ew-resize;
    display: flex;
    align-items: center;
    > div {
      height: 80%;
      width: 3px;
      border-radius: 10%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &.transition {
    transition: all 0.2s ease-in-out;
  }
}
